html{
  background-color: #ffcbcb;
}

*{
  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #132743;
}

p, li {
  font-size: large;
}

section{
  padding: 15px;
}

figure{
  height: auto;
}

li{
  text-align: left;
  margin-left: 40%
}