html{
  background-color: #ffcbcb;
}

*{
  text-align: center;
  /* setting color and font of text across webpage*/
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: #132743;
}

p, li {
  /*making smaller text a little bigger*/
  font-size: large;
}

section{
  /*adding more padding between sections*/
  padding: 15px;
}

figure{
  height: auto;
}

li{
  /*work-around for centering lists*/
  text-align: left;
  margin-left: 40%
}